@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&display=swap');
body{
    background-image: url('library.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    width: 100%; */
}
h2{
    color: white;
    /* text-align: center; */
    letter-spacing: 3px;
    font-size: 45px;
    font-family: 'Sono', sans-serif;
}