#allbooks{
    border: solid;
}
#srch{
    display: flex;
    padding-left: 4px;
    margin-bottom: 2%;
}
#booklist-wrapper{
    border: solid;
    display: grid;
    padding: 2rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 2rem;
}
#booklist-wrapper > .bookcard {
    height: 13rem;
}