#overview{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-rows: 1fr minmax(250px, 1fr);
  grid-template-areas: 
  'quote quote'
  'stats gif';
  height: 87vh;
}
#sidenav {
  flex: 0.1;
  border: solid magenta;
}
#quote {
  grid-area: quote;
  color: #000000b9;
  display: flex;
  padding: 2rem;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(lightgrey, white);
}
#stats {
  grid-area: stats;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 221, 147);
  transition: transform 0.2s;
  border-radius: 20px;
  text-align: center;
}
#stats:hover {
  transform: scale(0.99);
}
#stats a {
  text-decoration: none;
  color: rgb(199, 81, 81);
}
#gif {
  grid-area: gif;
  border: solid green;
}
#gif > img {
  width: 100%;
  height: 100%;
}
